*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #081b31;
    color:white;
    height:4rem;
    text-align: center;
   padding-top:17px;
}
.choice{
    height:160px;
    width:160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
p{
    text-align: center;
}
.choice:hover{
   
  
    cursor: pointer;
    background-color: #081b31;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user,#comp{
font-size: 4rem;
}
.msg{
    background-color: #081b31;
    color: white;
    height:40px;
    font-size: 24px;
    

}
h2{
background-color: yellow;
height:100px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
    margin-top: 50px;;
 text-align: center;
}
